.headerContainer {
    display: flex;
    flex-direction: column;
}

.logoContainer {
    width: 130px;
    height: auto;
}

.logo {
    max-width: 100%;
    margin-top: 0.5em;
}

.logoContainer span {
    display: none;
}

.siteNavbar {
    margin-top: 0.4em;
}

.siteNavbar a {
    font-weight: 600;
}

.siteNavbar a:hover {
    color: #ffcc00;
    transform: translateY(-2px);
}

/* .siteNavbar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: -2px;
    left: 0;
    background-color: #ffcc00;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
  }

.siteNavbar a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  } */