.headerContainer {
    display: flex;
    flex-direction: column;
}

.siteHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logoContainer {
    text-align: center;
}

.siteLogo {
    width: 150px;
    height: auto;
}

.siteNav ul {
    display: flex;
}

.siteNav li {
    display: block;
}

.siteNav a {
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
    color: #2d3436;
    font-size: 17px;
}

.siteNav a:hover {
    background-color: #f5f6fa;
}